@font-face {
    font-family: 'Varino';
    src: url('../../../../fonts/Varino.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-principal: 'Varino', sans-serif;
}

.section-c-home {
    min-height: 65vh;
    width: 100vw;
    padding: 2em 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #131313;
    overflow: hidden;
}

.section-c-home-img {
    place-self: center;
}

.section-c-home-img img {
    width: 400px;
}

.section-c-home-textos {
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
    color: white;
    font-family: var(--font-principal);
    text-align: center;
}

.section-c-home-textos-titulo {
    font-size: 50px;
}

.section-c-home-textos-paragrafo {
    font-size: 18px;
}

@media (max-width: 899px) {
    .section-c-home {
        flex-direction: column;
        padding: 1em;
    }

    .section-c-home-img img {
        width: 100%;
        max-width: 300px;
    }

    .section-c-home-textos {
        width: 100%;
        padding: 1em;
    }

    .section-c-home-textos-titulo {
        font-size: 30px;
    }

    .section-c-home-textos-paragrafo {
        font-size: 16px;
    }
}

@media (max-width: 480px) {

    .section-c-home-img img {
        width: 100%;
        max-width: 450px;
    }

    .section-c-home-textos-titulo {
        font-size: 20px;
    }

    .section-c-home-textos-paragrafo {
        font-size: 12px;
        width: 350px;
    }

}