.section-c-home{
    height: 65vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #131313;
    overflow: hidden;
}
.section-c-home-img{
    place-self: center;
}
.section-c-home-img img{
    width: 400px;
}
.section-c-home-textos{
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    color: white;
}
.section-c-home-textos-titulo{
    font-size: 50px;
}
.section-c-home-textos-paragrafo{
    font-size: 20px;
}
.section-c-home-textos-botao{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: orangered;
    color: white;
    font-size: 20px;
}
