.sectionbcursos-titulo{
    margin-top: 2em;
    text-align: center;
}
.sectionbcursos-cursos{
    margin-top: 2em;
    margin-left: 1em;
    padding: 0 2em;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1.8em;
    width: 100%;
}

@media (max-width:480px){
    .sectionbcursos-cursos{
        display: flex;
        justify-content: center;
    }
}