@font-face {
    font-family: 'Varino';
    src: url('../../../../fonts/Varino.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
:root{
    --font-principal: 'Varino', sans-serif;
}
.card-section-a-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.card-section-a-home>img{
    width: 150px;
}
.card-section-a-home> p{
    color: white;
    flex-wrap: wrap;
    text-align: center;
    width: 70%;
    font-size: 22px;
    font-family: var(--font-principal);
}

@media (max-width:480px) {
    .card-section-a-home>img{
        margin-top: 10px;
        width: 100px;
        flex-basis: 200;
        
    }
    .card-section-a-home> p{
        color: white;
        flex-wrap: wrap;
        text-align: center;
        width: 70%;
        font-size: 12px;
        font-family: var(--font-principal);
    }

}