.cardcurso {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1em 2em;
    height: 200px;
    width: 40%;
    min-width: 450px;
    gap: 2em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    transition: .5s;
    box-sizing: border-box;
    overflow: hidden;
}

.cardcurso:hover {
    transform: scale(1.05);
}

.cardcurso-icone img {
    height: 100px;
}
@media (max-width:480px){
    .cardcurso{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 2em 2em;
        min-height: 280px;
        width: 32%;
        min-width: 300px;
        gap: 0em;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
       font-size: 15px;
    }
    .cardcurso:hover{
        transform: scale(1.05);
    }
    .cardcurso-icone img{
        height: 70px;
    }

}
.cardcurso h3 {
    text-align: center;
    width: 100%;
}

.cardcurso p {
    text-align: justify;
    width: 100%;
}

@media (max-width: 768px) {
   
}
@media (min-width: 720px) and (max-width:860px){
    .cardcurso {
        flex-direction: column;
        align-items: center; 
        padding: 1em;
        width: 47%;
        min-width: unset;
        flex-basis: 100;
        margin: 1em auto;
        height: auto;
        font-size: 15px;
    }

    .cardcurso-icone img {
        height: 70px;
    }
}
