
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 50px;
    height: 120px;
}

.navbar img {
    max-width: 80px;
    border-radius: 50px;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
}

.links a:hover {
    background-color: #f0f0f0;
    border-radius: 10px;
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    transition: 0.1s;
}

.hamburger.open span:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}

@media (max-width: 680px) {
    .links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 4em;
        right: 0;
        background-color: white;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        z-index: 10;
    }

    .links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .links a {
        padding: 15px;
        width: 100%;
        text-align: center;
        background-color: #f0f0f0;
    }

    .links a:hover {
        background-color: #e0e0e0; 
    }
}

@media (min-width: 630px) {
    .navbar {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
    }
}
